

<% include ../partials/header.ejs %>
    <div class="container">
        <h1 style="text-align:center;">Register</h1>
        <div class="row">
            <div style="width:30%; margin:25px auto">
                    <form action="/campgrounds/register" method="post">
                        <input type="text" name="username" placeholder="username">
                        <input type="password" name="password"  placeholder="password">
                        <input type="submit" value="register">
                    </form>
                    
                    
            <a href="/">go back</a>
        </div>
            
        </div>

    </div>

    